p {
	color: ghostwhite;
	background: darkgreen;
	font-size: 40px;
	text-align: center;
	text-shadow: 2px 4px black;
	padding: 15px 0 15px 0;

}

h2 {
	color: black;
	font-size: 40px;
	text-align: center;
	text-shadow: 2px 2px red;

}

h4 {
	text-align: center;
}