body {
  background-color: #fff;
}

h1 {
  color: rgba(8, 141, 165, 1);
  margin-left: 100px;
  text-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.6);
}

.container {
  width: 450px;
  height: 450px;
  background-color: #faebd7;
  border: 2px solid black;
  border-radius: 5%;
}

/* ----------------------------------------------------------------
    SELECT ALL SQUARES IN THE ARRRAY
----------------------------------------------------------------- */
.container .squares:nth-child(-n + 4) {
  background-image: url("../icons/icon.png");
  background-size: contain;
  color: #fff;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 25%;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/*-------------------------------------------------------------------
    SELECT ALL SQUARES PARAGRAPHS IN THE ARRRAY
--------------------------------------------------------------------*/
.squares:nth-child(-n + 4) p {
  font-family: "helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*-------------------------------------------------------------------
    INDIVIDUALLY SELECT SQUARES IN THE ARRAY
--------------------------------------------------------------------*/
.squares:nth-child(1) {
  background: #4240ff;
}

.squares:nth-child(2) {
  background: #42ff7e;
}

.squares:nth-child(3) {
  background: #ff4242;
}

.squares:nth-child(4) {
  background: #ffde42;
}

/*-------------------------------------------------------------------
    HOVER, TRANSLATE, & TRANSFORM EFFECTS
--------------------------------------------------------------------*/
.container .squares:nth-child(-n + 4):hover {
  background-image: url("../icons/icon2.png");
  background-size: contain;
  transform: scale (0.5);
  animation-name: race;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(2.5, 0.2, 0.3, 2);
}

.squares:nth-child(1):hover {
  background: #137bff;
}

.squares:nth-child(2):hover {
  background: #13ff9e;
}

.squares:nth-child(3):hover {
  background: #ff1373;
}

.squares:nth-child(4):hover {
  background: #fff213;
}

/*-------------------------------------------------------------------
    ANIMATION EFFECT
--------------------------------------------------------------------*/
@keyframes race {
  0%,
  100% {
    transform: translateY(0px);
    background-image: url("../icons/icon2.png");
  }
  50% {
    transform: translateY(330px);
  }
}
